
<!--
<mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<!-- <button mat-button color="primary">Welcome to App Component</button> -->

<app-navbar>NavBar</app-navbar>


<div class="row">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
    <!-- <ul>
      <li routerLink="home">
          Home
      </li>
      <li routerLink="role">
          Role
      </li>
      <li routerLink="user">
         User
      </li>
      <ul>
        <li [routerLink]="['user',7]">
          User 7
        </li>
        <li [routerLink]="['user',7,'role']">
          User 7 Role
        </li>
      </ul>
    </ul> -->
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>


<ngx-spinner></ngx-spinner>
