<p>directives works!</p>


<div class="d-flex justify-content-center">
  <h2>Angular Directives</h2>
</div>


<h3>Structural Directives</h3>

<div class="row">
  <div class="col-md-4">
      <h4>*ngIf</h4>

      <input type="text" [(ngModel)]="name">

      <p *ngIf="title"> Title var...</p>

      <p *ngIf="name==='Ahmet'">
          isim Ahmet...
      </p>

      <button (click)="chanTitle();">Toggle</button>
      <br>

      <div *ngIf="title; then titleExists;else titleNotExists;"></div>
      <ng-template #titleExists>Title Var Template...</ng-template>
      <ng-template #titleNotExists>Title Yok Template...</ng-template>
  </div>

  <div class="col-md-4">
    <h4>*ngSwitch</h4>

  <input type="text" [(ngModel)]="username">
  <ul [ngSwitch]="username">
    <li *ngSwitchCase="'Ahmet'">Hello Ahmet</li>
    <li *ngSwitchCase="'Kerem'">Hello Kerem</li>
    <li *ngSwitchDefault>Hello Everyone</li>
  </ul>
  </div>

  <div class="clo-md-4">
      <h4>*ngFor/h4</h4>

      <ul *ngFor="let city of cities;let i =index">
          <li> {{i}} id: {{city.id}}  <br> name: {{city.name}}   <br> region:{{city.region}} </li>
      </ul>

  </div>

</div>


<h3>Attribute Directives</h3>

<div class="row">
  <div class="col-md-6">
      <h4 >[ngClass]</h4>

      <input type="text" [(ngModel)]="color">
      <p [ngClass]="color==='red'?'red':'blue'">Renk</p>

      <p [ngClass]="{
        red:color === 'red',
        blue:color === 'blue'
      }">Yeni Renk</p>
  </div>
  <diV class="col-md-6">
      <h4>[ngStyle]</h4>

      <input type="text" [(ngModel)]="color">

      <p [ngStyle]="{color : color ? 'red':'blue' }">Style Renk</p>
  </diV>
</div>



<h3>Custom Helpers</h3>

<div class="row">
  <div class="col-md-6">
      <p appHighlight>Highlight Directive Works!</p>

      <!-- <p [highlightColor]="'yellow'">Yellow Custom Directive</p>
      <p highlightColor="orange">Orange Custom Directive</p> -->
  </div>
</div>
